.back {
    width: 8rem;
    border-radius: 5px;
    margin-left: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    cursor: pointer;
}

.country-detail-container {
    margin-top: 5rem;
    padding: 1rem 5rem 5rem;
    display: flex;
    gap: 2rem;
}

.count-flag {
    width: 40%;
    height: auto;
}

.count-flag img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}

.country-details {
    padding: 5rem;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    width: 100%;
    margin-top: 5rem;
    gap: 5rem;
}

.count-desc {
    width: 50%;
}

.count-name {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-transform: capitalize;
}

.count-details,
.desc p {
    font-size: 1.4rem;
    line-height: 2rem;
}

.desc {
    width: 50%;
}

.border-container {
    display: flex;
    gap: 1rem;
}

.border-text {
    font-size: 1.5rem;
    text-transform: capitalize;
    width: 30%;
}

.borders {
    width: 70%;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.border-country {
    padding: 1rem 2rem;
    border-radius: 3px;
    background-color: #c0c0c0;
    font-size: 1.2rem;
    text-transform: capitalize;
}